<div class="container">            
<table class="table table-striped">
  <thead>
    <tr>
      <th>Patient</th>
      <th>Date</th>
      <th>Doctor</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
    <tr>
      <td><%= reservation.users.find_by(employee: false).full_name %></td>
      <td><%= reservation.date_formated %></td>
      <td><%= reservation.users.find_by(employee: true).full_name %>
      <td><%= reservation.check_status %>
    <% end %>
    </tr>
  </tbody>
</table>
</div>