<h2><center>Reservations:</center></h2>
<% if params[:date] %>
  <%= render 'chosen_day_calendar'%>
<% elsif params[:calendar] == 'week_calendar' %>
  <%= render 'week_calendar' %>
<% else %>
  <%= render 'month_calendar' %>
<% end %>
