<ul class='navbar-nav mr-auto'>

  <li class='navbar-item dropdown'>
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Reservations
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to 'Today reservations', admin_reservations_path(:today_all_reservations), class: 'dropdown-item'%>
      <%= link_to 'All reservations', admin_reservations_path, class: 'dropdown-item' %>
    </div>
  </li>

  <li class='nabar-item dropdown'>
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Bills
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to 'All bills', admin_bills_path, class: 'dropdown-item' %>
    </div>
  </li>
</ul>

